  @media screen and (max-width: 886px) {
  	.desktop {
  		display: none;
  	}


    .mobile {
        display: block;
    }


    .header {
        z-index: 999;
        top: 0;
    }

    .sidebar-mobile {
        background-color: #191C20;
        color: #FFFFFFCC;
    }

    .content-mobile {
        width: 100%;
        height: auto;
        margin-top: 70px;
    }

    .content-head-mobile {
        width: 100%;
        height: 300px;
        border-bottom: 1px solid grey;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }


    .logo-mobile {
        position: absolute;
        bottom: 0;
    }

    .content-mobile-text{
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid grey;
    }

    .text {
        font-size: 18px;
        font-weight: 600;
    }

    .contributor {
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }
  }